@use './utils/vars.scss' as *;

header {
    height: 80px;
    border-bottom: 1px solid $light-grey;
}

div[class*="col"] {
    padding: 0;
}

.logo {
    @include flex;

    img {
        width: 35px;
        margin-right: 5px;
        filter: brightness(0) saturate(100%) invert(36%) sepia(43%) saturate(4027%) hue-rotate(328deg) brightness(99%) contrast(105%);
    }

    h1 {
        @include font(700, 25px, $color: $brand-color, $spacing: -1px);
    }
}

.filter-menu,
.login-menu {
    @include flex;
    padding: 0 6px 0 10px;
    border: 1px solid $light-grey;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);

    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
}

.small-label {
    @include flex;
    height: 48px;
    flex-grow: 1;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;


    &:last-child {
        @include font(300, $color: grey);
    }

    div {
        padding: 0 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.separator {
    border-right: 1px solid $light-grey;
    height: 24px;
}

#right {
    height: 48px
}

.icon {
    @include flex;
    @include circle(32px);
    color: white;
    background-color: $brand-color;
}

.user {
    @include circle(30px);
    @include flex;
    margin-left: 10px;
    color: white;
    background-color: black;
}

.dropdown-toggle:after{
    display: none;
}

ul.dropdown-menu.show{
    transform: translate3d(-5.6px, 57px, 0px);
    margin-top: 20px;
}

.filter{
    @include flex;
    @include circle(40px);
    border: 1px solid grey;
}